body {
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
#score {
    font-size: 30px;
    margin-right: 1100px;
    font-family: 'Alfa Slab One', cursive;
    
   
}
#Timer {
    font-size: 30px;
    margin-left: 1100px;
    font-family: 'Alfa Slab One', cursive;
    
}
#body1{
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
}
h1{
    font-family: 'Alfa Slab One', cursive;
    color:navy;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
#show_sketch {
    float: right;
    background-color: navy;
    border: antiquewhite;
}
p {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Monoton', cursive;
    color: whitesmoke;
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    font-weight:lighter;
}
canvas {
    border: 5px solid white;
    border-radius: 40px;
    animation-name: Fading;
    animation-duration: 10s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes Fading {
    from {box-shadow: 1px 1px 75px darkblue;}
    to {box-shadow: 1px 1px 75px turquoise;}
}
#clearcanvasbutton{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    font-family: 'Josefin Sans', sans-serif;
}